CREATE DATABASE QuanLyBanQuanAo;
GO
USE QuanLyBanQuanAo;
GO

-- Bảng VaiTro 
CREATE TABLE VaiTro (
    MaVaiTro INT IDENTITY(1,1) PRIMARY KEY,
    TenVaiTro NVARCHAR(50) NOT NULL
);

-- Bảng NguoiDung
CREATE TABLE NguoiDung (
    MaNguoiDung INT IDENTITY(1,1) PRIMARY KEY,
    HoTen NVARCHAR(100),
    Email NVARCHAR(100) UNIQUE,
    SoDienThoai NVARCHAR(20) UNIQUE,
    MatKhau NVARCHAR(255) NOT NULL,
    DiaChi NVARCHAR(255),
    SoThichThoiTrang NVARCHAR(255),
    TrangThai TINYINT DEFAULT 0,
    MaVaiTro INT NULL,
    NgayTao DATETIME DEFAULT GETDATE(),
    NgayCapNhat DATETIME DEFAULT GETDATE(),
    CONSTRAINT fk_NguoiDung_VaiTro FOREIGN KEY (MaVaiTro)
        REFERENCES VaiTro(MaVaiTro)
        ON UPDATE CASCADE ON DELETE SET NULL
);

-- Bảng SanPham 
CREATE TABLE SanPham (
    MaSanPham INT IDENTITY(1,1) PRIMARY KEY,
    TenSanPham NVARCHAR(150) NOT NULL,
    LoaiSanPham NVARCHAR(100),
    Gia DECIMAL(18,2) NOT NULL,
    SoLuongTon INT DEFAULT 0,
    MoTa NVARCHAR(500),
    HinhAnh NVARCHAR(255),
    NgayTao DATETIME DEFAULT GETDATE(),
    NgayCapNhat DATETIME DEFAULT GETDATE()
);

-- Bảng DonHang 
CREATE TABLE DonHang (
    MaDonHang INT IDENTITY(1,1) PRIMARY KEY,
    MaNguoiDung INT NULL,
    DiaChiGiaoHang NVARCHAR(255),
    TrangThai NVARCHAR(50) DEFAULT N'Cho xac nhan',
    NgayDat DATETIME DEFAULT GETDATE(),
    TongTien DECIMAL(18,2) DEFAULT 0,
    CONSTRAINT fk_DonHang_NguoiDung FOREIGN KEY (MaNguoiDung)
        REFERENCES NguoiDung(MaNguoiDung)
        ON DELETE SET NULL
);

-- Bảng GioHang 
CREATE TABLE GioHang (
    MaGioHang INT IDENTITY(1,1) PRIMARY KEY,
    MaNguoiDung INT NULL,
    NgayCapNhat DATETIME DEFAULT GETDATE(),
    CONSTRAINT fk_GioHang_NguoiDung FOREIGN KEY (MaNguoiDung)
        REFERENCES NguoiDung(MaNguoiDung)
        ON DELETE CASCADE
);

-- Bảng ChiTietDonHang 
CREATE TABLE ChiTietDonHang (
    MaDonHang INT NOT NULL,
    MaSanPham INT NOT NULL,
    SoLuong INT NOT NULL,
    DonGia DECIMAL(18,2) NOT NULL,
    PRIMARY KEY (MaDonHang, MaSanPham),
    CONSTRAINT fk_CTDonHang_DonHang FOREIGN KEY (MaDonHang)
        REFERENCES DonHang(MaDonHang)
        ON DELETE CASCADE,
    CONSTRAINT fk_CTDonHang_SanPham FOREIGN KEY (MaSanPham)
        REFERENCES SanPham(MaSanPham)
);

-- Bảng ChiTietGioHang 
CREATE TABLE ChiTietGioHang (
    MaGioHang INT NOT NULL,
    MaSanPham INT NOT NULL,
    SoLuong INT DEFAULT 1,
    PRIMARY KEY (MaGioHang, MaSanPham),
    CONSTRAINT fk_CTGioHang_GioHang FOREIGN KEY (MaGioHang)
        REFERENCES GioHang(MaGioHang)
        ON DELETE CASCADE,
    CONSTRAINT fk_CTGioHang_SanPham FOREIGN KEY (MaSanPham)
        REFERENCES SanPham(MaSanPham)
);

-- Bảng BaoCaoThongKe 
CREATE TABLE BaoCaoThongKe (
    MaBaoCao INT IDENTITY(1,1) PRIMARY KEY,
    LoaiBaoCao NVARCHAR(100),
    NoiDung NVARCHAR(MAX),
    NgayTao DATETIME DEFAULT GETDATE(),
    NguoiTao INT NULL,
    CONSTRAINT fk_BaoCao_NguoiDung FOREIGN KEY (NguoiTao)
        REFERENCES NguoiDung(MaNguoiDung)
        ON DELETE SET NULL
);

-- Bảng NhatKyHeThong 
CREATE TABLE NhatKyHeThong (
    MaNhatKy BIGINT IDENTITY(1,1) PRIMARY KEY,
    MaNguoiDung INT NULL,
    HanhDong NVARCHAR(100),
    TrangThai NVARCHAR(50),
    ThoiGian DATETIME DEFAULT GETDATE(),
    DiaChiIP NVARCHAR(50),
    CONSTRAINT fk_NhatKy_NguoiDung FOREIGN KEY (MaNguoiDung)
        REFERENCES NguoiDung(MaNguoiDung)
        ON DELETE SET NULL
);

-- Bảng OTPXacThuc 
CREATE TABLE OTPXacThuc (
    MaOTP INT IDENTITY(1,1) PRIMARY KEY,
    MaNguoiDung INT NOT NULL,
    OTP NVARCHAR(10),
    ThoiGianTao DATETIME DEFAULT GETDATE(),
    ThoiGianHetHan DATETIME,
    TrangThai TINYINT DEFAULT 0,
    CONSTRAINT fk_OTP_NguoiDung FOREIGN KEY (MaNguoiDung)
        REFERENCES NguoiDung(MaNguoiDung)
        ON DELETE CASCADE
);

-- Bảng ThanhToan 
CREATE TABLE ThanhToan (
    MaThanhToan INT IDENTITY(1,1) PRIMARY KEY,
    MaDonHang INT NOT NULL,
    PhuongThuc NVARCHAR(50),
    SoTien DECIMAL(18,2),
    TrangThai NVARCHAR(50),
    NgayThanhToan DATETIME DEFAULT GETDATE(),
    CONSTRAINT fk_ThanhToan_DonHang FOREIGN KEY (MaDonHang)
        REFERENCES DonHang(MaDonHang)
        ON DELETE CASCADE
);
